<div class="navbar-container">
  <div class="logo"><img src="assets/images/logo.jpg"></div>
  <button class="hamburger-menu" (click)="toggleNavbar()">☰</button>

  <div class="collapsible-menu" [ngClass]="{ 'open': isNavbarCollapsed }">
    <ul class="menu-list">
      <li>
        <div class="dropdown">
          <button class="dropdown-btn" (click)="toggleDropdown()">
            <img [src]="currentLanguage.flag" alt="{{ currentLanguage.name }}" />
            {{ currentLanguage.name }}
            <span>&#9662;</span> <!-- Dropdown arrow -->
          </button>
        
          <ul class="dropdown-menu" [class.show]="dropdownOpen">
            <li *ngFor="let lang of languages" (click)="switchLanguage(lang.code)">
              <img [src]="lang.flag" alt="{{ lang.name }}" />
              {{ lang.name.toUpperCase() }}
            </li>
          </ul>
        </div>
                

      </li>
      <li><a href="#about" (click)="closeNavbar()">{{'about' | translate}}</a></li>
      <li><a href="#how-it-works" (click)="closeNavbar()">{{'howItWorks' | translate}}</a></li>
      <li><a href="#pricing" (click)="closeNavbar()">{{'pricing.title' | translate}}</a></li>
      <li><a href="#contact" (click)="closeNavbar()">{{'contact.title' | translate}}</a></li>
    </ul>
  </div>
</div>