.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000 !important;
  color: #fff;
  position: relative;
  z-index: 100;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.hamburger-menu:hover {
  color: #f0b323;
  transform: scale(1.1);
}

.collapsible-menu {
  display: flex;
  gap: 1rem;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  transition: color 0.3s ease, transform 0.3s ease;
  align-items: center;
}

.menu-list li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo img {
  width: 90px;
  height: auto;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-list li a:hover {
  color: #f0b323;
  transform: scale(1.1);
}

@media (max-width: 670px) {
  .hamburger-menu {
    display: block;
  }

  .collapsible-menu {
    flex-direction: column;
    position: absolute;
    top: 98%;
    left: 0;
    width: 100%;
    background-color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .collapsible-menu.open {
    max-height: 300px;
    padding: 1rem 0;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .menu-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .menu-list li a:hover {
    color: #f0b323;
    transform: scale(1.1);
  }
}

.language-select {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.language-select:hover {
  border-color: #f0b323;
  color: #f0b323;
  transform: scale(1.05);
}

.language-select option {
  background-color: #000;
  color: #fff;
}

.flag-icon {
  width: 20px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-btn {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 20px;
      // height: 15px;
      object-fit: cover;
      border-radius: 2px;
    }

    &:hover {
      color: #f0b323;
      border-color: #f0b323;
      transform: scale(1.05);
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    padding: 5px 0;
    z-index: 1000;
    width: 160px;

    li {
      list-style: none;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease;

      img {
        width: 20px;
        // height: 15px;
        border-radius: 2px;
      }

      &:hover {
        background-color: #333;
        color: #f0b323;
      }
    }

    &.show {
      display: block;
    }
  }
}
