<app-navbar></app-navbar>

<section id="home" class="home" appFadeInOnScroll>
  <video autoplay muted loop class="hero-video">
    <source src="assets/videos/rage-room.mp4" type="video/mp4" />
  </video>
  <div class="overlay">
    <h1>PRAVILA NE POSTOJE <span class="highlight">–</span> SAMO RAZBIJANJE.</h1>
    <div class="cta-buttons">
      <a href="#how-it-works" class="btn">Otkrij iskustvo</a>
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank" class="btn">Rezerviši termin</a>
    </div>
  </div>
</section>

<section id="about" class="about" appFadeInOnScroll>
  <h2 class="section-title">O nama</h2>
  <hr>
  <div class="fade-in about-text">
    <h2>Zamislite mjesto gde su pravila drugačija. Gde je bes energija, a lom oslobođenje.</h2>
    <p>
      Smash Studio je mjesto gdje možete razbiti stvari i osloboditi se stresa. To je zabavno iskustvo koje vam
      omogućuje da se opustite i uživate. Dođite sami ili s prijateljima i iskusite nešto drugačije!
    </p>
  </div>
</section>


<section id="how-it-works" class="how-it-works">
  <h2 class="section-title">Kako funkcioniše</h2>
  <hr>
  <div class="steps">
    <div class="step">
      <span class="step-title">Korak 1: Oprema za zaštitu</span>
      <p class="step-description">Pre nego što započnete, dobijate zaštitnu opremu kako biste bili sigurni tokom
        iskustva.</p>
    </div>
    <div class="step">
      <span class="step-title">Korak 2: Sef za lične stvari</span>
      <p class="step-description">Sve lične stvari možete bezbedno ostaviti u zaključanom sefu.</p>
    </div>
    <div class="step">
      <span class="step-title">Korak 3: Vaš prostor za destrukciju</span>
      <p class="step-description">Ulazite u posebno pripremljenu sobu gde možete slobodno razbijati predmete.</p>
    </div>
    <div class="step">
      <span class="step-title">Korak 4: Oslobađanje energije</span>
      <p class="step-description">Osetite olakšanje i uživajte u jedinstvenom iskustvu oslobađanja stresa!</p>
    </div>
  </div>
</section>


<section id="pricing" class="pricing">
  <h2 class="section-title">Cjenovnik</h2>
  <hr>

  <!-- Packages -->
  <div class="packages">
    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>Udri Mujo</h3>
        <p><strong>Manji električni uređaj</strong></p>
        <p>8 staklenih flašica</p>
        <p>2kom. random kućnog posuđa</p>
        <p><strong>Vrijeme:</strong> 25min</p>
        <p><strong>Zaštitna oprema:</strong> Za 1 osobu</p>
        <p class="price">Cijena: 23KM</p>
      </a>
    </div>

    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>Dvostruki slom</h3>
        <p><strong>Srednji električni uređaj</strong></p>
        <p>12 staklenih flašica</p>
        <p>5kom. random kućnog posuđa</p>
        <p><strong>Vrijeme:</strong> 30min</p>
        <p><strong>Zaštitna oprema:</strong> Za 2 osobe</p>
        <p class="price">Cijena: 48KM</p>
      </a>
    </div>

    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>Grupna terapija</h3>
        <p><strong>Šajba od auta</strong></p>
        <p>17 staklenih flašica</p>
        <p>3 staklene flaše</p>
        <p><strong>Vrijeme:</strong> 40min</p>
        <p><strong>Zaštitna oprema:</strong> Za 4 osobe</p>
        <p class="price">Cijena: 63KM</p>
      </a>
    </div>

    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>Potpuni haos</h3>
        <p><strong>Veliki električni uređaj</strong></p>
        <p>3 staklene flaše</p>
        <p>20 staklenih flašica</p>
        <p>10kom. random kućnog posuđa</p>
        <p><strong>Vrijeme:</strong> 45min</p>
        <p><strong>Zaštitna oprema:</strong> Za 4 osobe</p>
        <p class="price">Cijena: 84KM</p>
      </a>
    </div>
  </div>

  <!-- Bring Your Own Stuff -->
  <div class="custom-break">
    <h3>Donesi svoje stvari</h3>
    <p>10 min - <strong>15KM</strong></p>
    <p>15 min - <strong>20KM</strong></p>
    <p>30 min - <strong>25KM</strong></p>
    <p><strong>Zaštitna oprema uključena za 4 osobe</strong></p>
  </div>

  <!-- Additional Items -->
  <div class="extras">
    <h3>Dodatni predmeti</h3>
    <ul>
      <li>Oprema za 1 osobu - <strong>9KM</strong></li>
      <li>Flašica - <strong>1.50KM</strong></li>
      <li>Flaša - <strong>3KM</strong></li>
      <li>Random kućno posuđe - <strong>2KM</strong></li>
      <li>Mali električni uređaj - <strong>11KM</strong></li>
      <li>Srednji električni uređaj - <strong>24KM</strong></li>
      <li>Veliki električni uređaj - <strong>38KM</strong></li>
      <li>Šajba od auta - <strong>30KM</strong></li>
    </ul>
  </div>
  <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
    style="text-decoration: none;"><button>Rezerviši termin</button> </a>
</section>


<section id="contact" class="contact">
  <h2 class="section-title">Kontakt</h2>
  <hr>
  <div class="map"><iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.9700853243457!2d17.159866684718615!3d44.7814152041581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475e0300088cf5a3%3A0x78a25fcc545352cc!2sSmash%20Studio!5e0!3m2!1sbs!2sba!4v1739463467729!5m2!1sbs!2sba"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

  <form class="contact-form" action="https://formsubmit.co/stefan.makivic99@gmail.com" method="POST">
    <input type="text" name="name" placeholder="Ime" required />
    <input type="email" name="email" placeholder="Email" required />
    <textarea name="message" placeholder="Poruka" required></textarea>
    <button type="submit">Pošalji poruku</button>
  </form>

</section>
<div class="image">
  <img src="assets/images/logo.jpg" alt="Hammer" />
</div>
<footer class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <h3>Kontakt</h3>
      <p><i class="fas fa-map-marker-alt"></i> Smash Studio, Banja Luka</p>
      <p><i class="fas fa-phone"></i> +387 65-414/585</p>
      <p><i class="fas fa-envelope"></i> smashstudiobl&#64;gmail.com</p>
      <a href="#" class="social-link"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="#" class="social-link"><i class="fab fa-tiktok"></i> TikTok</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Smash Studio. Sva prava zadržana.</p>
    <p>Website by <strong>Stefan Makivić</strong></p>
  </div>
</footer>