<app-navbar></app-navbar>

<section id="home" class="home" appFadeInOnScroll>
  <div class="overlay">
    <h1>{{ 'noRules' | translate }}.</h1>
    <div class="cta-buttons">
      <a href="#how-it-works" class="btn">{{ 'discoverExperience' | translate }}</a>
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank" class="btn">{{ 'bookAppointment' |
        translate }}</a>
    </div>
  </div>
</section>

<section id="about" class="about" appFadeInOnScroll>
  <h2 class="section-title">{{ 'aboutUs' | translate }}</h2>
  <hr>
  <div class="fade-in about-text">
    <h2>{{ 'aboutText' | translate }}</h2>
    <p>{{ 'aboutDescription' | translate }}</p>
  </div>
</section>

<section id="how-it-works" class="how-it-works">
  <h2 class="section-title">{{ 'howItWorks' | translate }}</h2>
  <hr>
  <div class="steps">
    <div class="step">
      <span class="step-title">{{ 'step1' | translate }}</span>
      <p class="step-description">{{ 'step1Desc' | translate }}</p>
    </div>
    <div class="step">
      <span class="step-title">{{ 'step2' | translate }}</span>
      <p class="step-description">{{ 'step2Desc' | translate }}</p>
    </div>
    <div class="step">
      <span class="step-title">{{ 'step3' | translate }}</span>
      <p class="step-description">{{ 'step3Desc' | translate }}</p>
    </div>
    <div class="step">
      <span class="step-title">{{ 'step4' | translate }}</span>
      <p class="step-description">{{ 'step4Desc' | translate }}</p>
    </div>
  </div>
</section>

<section id="pricing" class="pricing">
  <h2 class="section-title">{{ 'pricing.title' | translate }}</h2>
  <hr>
  <div class="packages">
    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>{{ 'pricing.package1.title' | translate }}</h3>
        <p>{{ 'pricing.package1.description' | translate }}</p>
        <p class="price">{{ 'pricing.package1.price' | translate }}</p>
      </a>
    </div>
    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>{{ 'pricing.package2.title' | translate }}</h3>
        <p>{{ 'pricing.package2.description' | translate }}</p>
        <p class="price">{{ 'pricing.package2.price' | translate }}</p>
      </a>
    </div>
    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>{{ 'pricing.package3.title' | translate }}</h3>
        <p>{{ 'pricing.package3.description' | translate }}</p>
        <p class="price">{{ 'pricing.package3.price' | translate }}</p>
      </a>
    </div>
    <div class="package">
      <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank"
        style="text-decoration: none; color: white;">
        <h3>{{ 'pricing.package4.title' | translate }}</h3>
        <p>{{ 'pricing.package4.description' | translate }}</p>
        <p class="price">{{ 'pricing.package4.price' | translate }}</p>
      </a>
    </div>
  </div>

  <div class="custom-break">
    <h3>{{ 'pricing.custom.title' | translate }}</h3>
    <p>{{ 'pricing.custom.option1' | translate }}</p>
    <p>{{ 'pricing.custom.option2' | translate }}</p>
    <p>{{ 'pricing.custom.option3' | translate }}</p>
    <p>{{ 'pricing.custom.note' | translate }}</p>
  </div>

  <div class="extras">
    <h3>{{ 'pricing.extras.title' | translate }}</h3>
    <ul>
      <li>{{ 'pricing.extras.item1' | translate }}</li>
      <li>{{ 'pricing.extras.item2' | translate }}</li>
      <li>{{ 'pricing.extras.item3' | translate }}</li>
      <li>{{ 'pricing.extras.item4' | translate }}</li>
      <li>{{ 'pricing.extras.item5' | translate }}</li>
      <li>{{ 'pricing.extras.item6' | translate }}</li>
      <li>{{ 'pricing.extras.item7' | translate }}</li>
      <li>{{ 'pricing.extras.item8' | translate }}</li>
    </ul>
  </div>

  <a href="https://smashstudio6c7w.setmore.com/smashstudio" target="_blank" class="btn"><button>{{ 'pricing.button' | translate
    }}</button></a>
</section>
<section class="gift-card-section">
  <div class="gift-card-overlay">
    <div class="gift-card-content">
      <h2 class="highlight section-title">{{ 'giftCard.title' | translate }}</h2>
      <p>{{ 'giftCard.description' | translate }}</p>

      <ul class="gift-card-list">
        <li>{{ 'giftCard.list.item1' | translate }}</li>
        <li>{{ 'giftCard.list.item2' | translate }}</li>
        <li>{{ 'giftCard.list.item3' | translate }}</li>
      </ul>

      <p><strong>{{ 'giftCard.highlight' | translate }}</strong></p>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <h2 class="section-title">{{ 'contact.title' | translate }}</h2>
  <hr>
  <div class="map"><iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.9700853243457!2d17.159866684718615!3d44.7814152041581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475e0300088cf5a3%3A0x78a25fcc545352cc!2sSmash%20Studio!5e0!3m2!1sbs!2sba!4v1739463467729!5m2!1sbs!2sba"
      style="border:0; filter: invert(92%) contrast(83%);" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe></div>

  <form class="contact-form" action="https://formsubmit.co/smashstudiobl@gmail.com" method="POST">
    <input type="text" name="name" placeholder="{{ 'contact.form.namePlaceholder' | translate }}" required />
    <input type="email" name="email" placeholder="{{ 'contact.form.emailPlaceholder' | translate }}" required />
    <textarea name="message" placeholder="{{ 'contact.form.messagePlaceholder' | translate }}" required></textarea>
    <button type="submit">{{ 'contact.form.submitButton' | translate }}</button>
  </form>

</section>
<div class="image">
  <img src="assets/images/logo.jpg" alt="{{ 'image.alt' | translate }}" />
</div>
<footer class="footer">
  <hr>
  <div class="footer-container">

    <!-- Social Links in the Center -->
    <div class="footer-social">
      <a href="https://www.instagram.com/smash_studio_bl?igsh=cHVuMXVhNWlpNjhq " target="_blank" class="social-link"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="https://www.tiktok.com/@smash_studio_bl?_t=ZM-8ttJfdedMxx&_r=1" target="_blank" class="social-link"><i class="fab fa-tiktok"></i>TikTok</a>
    </div>

    <!-- Contact Info on the Left -->
    <div class="footer-info">
      <p><i class="fas fa-map-marker-alt"></i>  Smash Studio, Banja Luka</p>
      <p><i class="fas fa-phone"></i> +387 65-414/585</p>
      <p><i class="fas fa-envelope"></i> smashstudiobl&#64;gmail.com</p>
    </div>

    <!-- Credits on the Right -->
    <div class="footer-bottom">
      <p>&copy; 2025 Smash Studio. {{ 'footer-rights' | translate }}</p>
      <p>{{ 'footer-credits' | translate }} <strong>Stefan Makivić</strong></p>
    </div>

  </div>
</footer>
